<div class='col-sm-6 col-lg-4'>
  <div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= link_to post.title, post %></h4>
    <p class="published-date"><%= post.display_day_published %></p>
    <p class-"card-text"><%= truncate(post.body, length: 130) %></p>
    <%= link_to 'Read', post, class: 'btn btn-read' %>
    <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Publish', post, class: 'btn btn-sm btn-danger'%>
    <% end %>
    </div>
  </div>
</div>
